---
import MainLayout from "@layouts/MainLayout.astro";
import HeroList from "@components/HeroList";
---

<MainLayout>
  <h1>Mobile Legends Counters</h1>
  <p>Sube rápidamente de Rango en Mobile Legends, contrarresta a tus adversarios y alcanza la victoria con nuestra herramienta online.</p>
  <!-- Role Bar -->
  <HeroList client:load />
</MainLayout>
